! Xresources file

! URxvt*inheritPixmap: true
! URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
! URxvt*shading: 000
URxvt*foreground: rgba:ffff/ffff/ffff/ffff 
URxvt*background: rgba:0000/0000/0000/0000
